<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gestion des {{choses}}</title>
</head>
<body>
	
	<h2>Gestion des {{choses}}</h2>
		
		<a href="javascript:window.history.back();">Ajout</a>/<a href="javascript:window.history.back();">Retour</a>
    
    <h3>Liste des {{choses}}</h3>
    
    <body>
        <Table >
                <thead> 
                    <tr>
                        <td width="10%">{{1}}</td>
                        <td width="35%">{{2}}</td>
                        <td width="25%">{{3}}</td>
                        <td width="25%">{{4}}</td>
                        <td width="25%">{{5}}</td>
                    </tr>
                </thead>
                </tbody>  
                <tr>
                        <td>1</td>
                        <td>ARMANI</td>
                        <td>Sophie</td>
                        <td>Nantes</td>
                        <td>25</td>
                        <td><a href="javascript:window.history.back();">Ajout</a></td>
                        <td><a href="javascript:window.history.back();">Supprimer</a></td>
                </tr>
                </tbody> 
            </Table>

    <br>
    <br>

</body>
</html>