<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Commande Insérée</title>
</head>
<body>

	<h4>L'insertion a été correctement effectuée</h4>				

    <p>
        Commande : <br />
        Client : {{nomClient}} {{prenomClient}}<br />
        Livreur : {{nomLivreur}} {{prenomLivreur}} <br />
       
        Ajout réussis.
    </p>

    <br>
    <br>
    <a href="javascript:window.history.back();">Retour</a>
</body>
</html>