<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Liste des clients</title>
</head>
<body>
<h1>Gestion des clients</h1>
    <table>
    <p><a href="/ajouter_client.html">Ajouter</a> / <a href="/accueil.html">Retour à l'accueil</a></p>
        <tr>
            <th width="300" align="left"><strong>Id.</strong></th>
            <th width="200" align="left"><strong>NOM</strong></th>
            <th width="150" align="left"><strong>Prénom</strong></th>
            <th width="200" align="left"><strong>Ville</strong></th>
            <th width="70" align="left"><strong>Age</strong></th>
        </tr>

        {{listeclients}}

   </table>

    
</body>
</html>