<!doctype html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Client Inséré</title>
</head>

<body>

    <header>
        <h1>Gestion des clients</h1>
    </header>

    <nav>
        <p>
            <a href="ajouter_client.html">Ajouter un client</a>/
            <a href="index.html">Retour à l'accueil</a>
        </p>
    </nav>

    <section>

        <h2>Liste des clients</h2>

        <table>
            <tr>
                <th align="left">Libéllée</th>
                <th align="left">Réfference</th>
                <th align="left">Prix</th>
                <th align="left">Image</th>
            </tr>
            {{table}}
        </table>
    </section>

</body>

</html>