<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Liste des clients</title>
</head>
<body>
	<h1>Gestion des pizzas</h1>
	<table>
		<p>
			<a href="/ajouter_pizza.html">Ajouter</a> / <a href="/accueil.html">Retour à l'accueil</a>
		</p>

	<h2>Liste des pizzas</h2>
		<tr>
			<th width="300" align="left"><strong>Id.</strong></th>
			<th width="100" align="left"><strong>Libellé</strong></th>
			<th width="100" align="left"><strong>Référence</strong></th>
			<th width="100" align="left"><strong>Prix</strong></th>
			<th><strong>Photo</strong></th>
		</tr>

		{{listePizzas}}

	</table>


</body>
</html>