<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Liste_commande</title>
    </head>

    <body>
        <table>
            <thead>
                <tr align="left">
                    <td width=30><b>Id.</b></td>
                    <td width=100><b>Nuémro</b></td>
                    <td width=200><b>Date commande</b></td>
                    <td width=200><b>Client</b></td>
                    <td width=200><b>Livreur</b></td>
                </tr>
            </thead>    
            
            <tbody>
            	{{listeCommandes}}
            </tbody>               
        </table>
        
        <a href="javascript:window.history.back();">Retour</a>
    </body>
</html>